
:root {
  --mainColor: #7c8981;
  --secondaryColor: #424f5c;

  --borderColor: #164d56;

  --mainText: #424f5c;
  --secondaryText: #8c9caa;  

  --previeBg: #d8d5d2;
  --previewShadow: #111921;

  --buttonColor: #17a2b8;

  --mailButtonCollor: #dd5e23;
}



* {
  display: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: rgb(250, 229, 201); */
  font-family: 'Commissioner', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong{
  font-family: 'Commissioner', sans-serif;
}

p,
li,
span,
input,
textarea, a {
  font-family: 'Commissioner', sans-serif;
  font-size: 20px;
}

.container {
  max-width: 1200px;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.Nav {
  margin: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  background-color: var(--borderColor);
  border-bottom: 1px solid black;
  border-radius: 5px;
  box-shadow: 0rem 0 0.5rem rgb(82, 71, 44);
  padding: 7px;
}

.Nav-element {
  margin: 7px;
  background-color: var(--previeBg);
  border-radius: 5px;
  box-shadow: 0rem 0 0.3rem rgb(82, 71, 44);
  padding: 5px 7px;
  color: blue;
  cursor: pointer;
}

.Nav-element a {
  text-decoration: none;
  color: var(--previewShadow);
}


.Intro {
  display: grid;
  grid-template-areas:
    "name name info info info info"
    "name name info info info info"
    "name name info info info info";
  margin: 5px;
  background-image: url("static/photo_2021-01-29_13-32-15.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0rem 0 1rem rgb(82, 71, 44);

  height: 780px;
}

.Company-name {
  grid-area: name;
  background: transparent;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 25px;
  justify-content: center;
  padding-top: 15px;
}

.Company-name h4 {
  color: navy;
  margin: 5px;

  background-color: var(--secondaryText);
  box-shadow: 0rem 0 0.1rem rgb(82, 71, 44);
  border-radius: 5px;
  padding: 15px;
}
.Links {
  color: var(--borderColor);
  margin: 5px;
  background-color: var(--secondaryText);
  box-shadow: 0rem 0 0.1rem rgb(82, 71, 44);
  border-radius: 5px;
  padding: 15px;
}

.Company-name a {
  color:navy;
  text-decoration: none
}

.Info {
  grid-area: info;
  text-align: center;

  /* padding-top: 6rem; */
}
.Info p {
  position: relative;
  background-color: var(--secondaryText);;
  border-radius: 5px;
  padding: 10px;
  top: 300px;
  box-shadow: 0rem 0 1rem rgb(82, 71, 44);
  color: var(--borderColo);

}
.Info p span {
  color: rgb(148, 35, 35);
}

.More-info {
  margin: 5px;
  background-color: var(--previeBg);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0rem 0 0.5rem rgb(82, 71, 44);
}

.More-info ul {
  list-style: none;
}

.More-info p {
  color: blueviolet;
}

.Contacts-top {
  margin-bottom: 15px;
  padding: 5px;
  background-color: rgba(240, 155, 91, 0.611);
  border-radius: 5px;
  box-shadow: 0rem 0 1rem rgb(82, 71, 44);
}


.Products {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  background-color: var(--previeBg);
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0rem 0 0.5rem rgb(82, 71, 44);
}

/* responsive galery */

.gallery {
  border: 1px solid #ccc;
  border-radius: 7px;
}

.gallery:hover {
  border: 2px solid var(--borderColor);
}

.gallery img {
  border-radius: 6px 6px 0 0;
  width: 100%;
  height: auto;
}

.gallery a {
  text-decoration: none;
}
.desc {
  padding: 10px;
  text-align: center;
  background: var(--secondaryText);
  border-radius: 0 0 6px 6px;
}

.responsive {
  border-radius: 7px;
  padding: 5px;
  margin: 0px;
  float: left;
  width: 24.99999%;
}


/* Gallery Page */

.gallery-name {
  margin: 15px;
  color: var(--secondaryColor);
}

.fireplace-img {
  border-radius: 6px ;
  width: 100%;
  height: auto;
}

/* Contact Form */

#footer {  
  background: var(--borderColor);
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0rem 0 0.5rem rgb(82, 71, 44);
  
}

.contact-area {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.social-media{
  margin: 2rem;
  padding: 10px;
  text-align: left;
  color: var(--previeBg);
}

.social-media a {
  color: var(--buttonColor);
  text-decoration: none
}

#contact {
  width: auto;
  margin: 1em;
  background: var(--secondaryColor);
  border:1px solid rgb(82, 71, 44);
  border-radius: 5px; 
  position: relative;
  box-shadow: 0 0 0.5rem rgb(82, 71, 44);
}
#contact::after {
  content: "";
  display: block;
  height: 30px;
  width: 90%;
  left: 5%;
  bottom: 0;
  position: absolute;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.19);
  border-radius: 100%;
  z-index: -1;
}
#contact article {
  padding: 1rem;
}
#contact h3 {
  background: var(--secondaryColor);
  border-radius: 4px 4px 0 0;
  text-align: center;
  font-size: 1.75em;
  padding: 0.5em;
  color:var(--previeBg);
  /* text-shadow: 0 0.06em 0 #424242; */
  position: relative;
  margin-block-end: 0;
  margin-block-start: 0;
}
.contactbutton {
  background:var(--secondaryText);
  -webkit-box-shadow: 1px 1px 0 0 navy,2px 2px 0 0 navy,3px 3px 0 0 navy;
  box-shadow: 1px 1px 0 0 navy,2px 2px 0 0 navy,3px 3px 0 0 navy;
  border-radius: 5px;
  border:1px solid rgba(49, 43, 27);
  text-align: center;
  display: block;
  width: 100%;
  height: 50px;    
  margin-bottom: 2px;
  cursor: pointer;
  margin-bottom: 7px;

}
.contactbutton:hover {
  -webkit-box-shadow: 1px 1px 0 0 navy,0px 0px 0 0 navy,0px 0px 0 0 navy;
  box-shadow: 1px 1px 0 0 navy,0px 0px 0 0 navy,0px 0px 0 0 navy;
  margin-top: 2px;
  margin-left: 2px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.mail {
  margin-top: 11px;
  font-size: 15px;
  display: inline-block;
  border-top: 2em solid transparent;
  border-left: 2.6em solid navy;
  height: 0;
  width: 0;
  position: relative;
  
}
.mail:before {
  content: '';
  top: -2.5em;
  left: -2.95em;
  display: block;
  position: absolute;
  border-top: 1.2em solid navy;
  border-left: 1.6em solid transparent;
  border-right: 1.6em solid transparent;
  border-bottom: 1em solid transparent;
  font-size: 0.8em;
  
}
.mail::after {
  display: block;
  content: "";
  position: absolute;
  border-top: 2em solid transparent;
  border-right: 2.6em solid navy;
  height: 0;
  width: 0;
  left: -2.18em;
  bottom: 0;
  
}
#checkcontact{
  position: absolute;
  left: -9999px;
}
.contactform {
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  -ms-transition: all linear 1s;
  transition: all linear 1s;
  
}
#checkcontact:checked + .contactform {
  max-height: 1000px;
}
.input_wrapper {
  position: relative;
}
.textarea_wrapper textarea {
  margin-top: 15px;
  margin-bottom: 15px;
  display: block;
  width: 100%;
  background:var(--previeBg);

  border: 1px solid  #002266;
  box-shadow: 0 0 1px 0 #002266;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5E5E5E;
}
.input_wrapper input[type="text"] {
  margin-top: 1em;
  display: block;
  width: 100%;
  background: white;
  border: 1px solid #DADADA;
  box-shadow: 0 0 1px 0 #E4E4E4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.7em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5E5E5E;
  text-indent: 20%;
  font-size: 14px;
  border-radius: 5px;
}
.input_wrapper input[type="text"]:focus {
  background:  #DADADA;
  box-shadow: inset 2px 2px 5px 0 #DADADA;
  outline: none;
  text-indent: 0;
}
.input_wrapper label {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background:var(--secondaryText);

  color: navy;
  border-radius: 5px;
  box-sizing: border-box;
  width: 20%;
  text-align: center;
  line-height: 2.8em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  font-size: 16px;
}
.input_wrapper input[type="text"]:focus + label {
  left: 80%;
}
.textarea_wrapper textarea {
  margin-top: 20px;
  display: block;
  width: 100%;
    min-height:150px;
  background: white;
  border: 1px solid #DADADA;
  box-shadow: 0 0 1px 0 #E4E4E4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #5E5E5E;
  border-radius: 5px;
}
.textarea_wrapper textarea:focus {
  background:  #DADADA;
  box-shadow: inset 2px 2px 5px 0 #DADADA;
  outline: none;
}
.submit_wrapper {
  text-align: center;
}
.submit_wrapper input {
  text-align: center;
  display: inline-block;
  width: 40%;
  height: 50px;
  margin-top: 2px;
  margin-bottom: 0px;
  cursor: pointer;
  background:rgba(232, 212, 101, 0.6);
  color:  navy;
  border: 1px solid rgb(49, 43, 27);
  
  font-size: 1em;
  -webkit-box-shadow: 1px 1px 0 0 navy,2px 2px 0 0 navy,3px 3px 0 0 navy;
  box-shadow: 1px 1px 0 0 navy,2px 2px 0 0 navy,3px 3px 0 0 navy;
  -webkit-appearance: none;
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -ms-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  border-radius: 5px;
  margin-bottom: 5px;

}

.submit_wrapper input:hover {
  -webkit-box-shadow: 1px 1px 0 0 navy,0px 0px 0 0 navy,0px 0px 0 0 navy;
  box-shadow: 1px 1px 0 0 navy,0px 0px 0 0 navy,0px 0px 0 0 navy;
  margin-top: 2px;
  margin-left: 2px;
}

@media (max-width: 810px) {
  .Intro {
    height: 800px;
  }
  .Info p {
    position: relative;
    top: 240px;
  }
}

@media (max-width: 710px) {
  .Intro {
    display: grid;
    padding-top: 0rem;
    grid-template-areas:
      "name name name name name name"
      "name name name name name name"
      "info info info info info info"
      "info info info info info info";
    height: 800px;
  }
  .Info p {
    position: relative;
    top: 0px;
  }

  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media (max-width: 500px) {
  .responsive {
    width: 100%;
  }
  .Intro {
    height: 900px;
  }
}