<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../index.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"
      defer
    ></script>
    <script type="text/javascript" src="../index.js" defer></script>

    <title>Декоративный камин "МОСКВА"</title>
  </head>
  <body>
    <div class="container">
      <div class="Nav">
        <div class="Nav-element">
          <h3><a href="../decor.html">ГЛАВНАЯ</a></h3>
        </div>
        <div class="Nav-element" id="contacts"><h3>КОНТАКТЫ</h3></div>
      </div>

      <div class="gallery-name">
        <h1>Декоративный камин "МОСКВА"</h1>
      </div>
      <section class="Products" id="product-list">
        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113349_433.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113349_433.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113353_468.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113353_468.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113357_289.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113357_289.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113403_429.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113403_429.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113405_905.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113405_905.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113409_064.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113409_064.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113416_043.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113416_043.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113423_022.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113423_022.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113424_693.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113424_693.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113419_057.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113419_057.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113412_924.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113412_924.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>

        <div class="responsive">
          <div class="fireplace-img">
            <a
              target="_blank"
              href="../static/gallery/Moscow/IMG_20210205_113359_705.jpg"
            >
              <img
                src="../static/gallery/Moscow/IMG_20210205_113359_705.jpg"
                alt="fireplace"
                width="600"
                height="400"
              />
            </a>
          </div>
        </div>
      </section>
      <footer id="footer">
        <div class="contact-area">
          <div class="social-media">
            <h3>Декоративные Камины</h3>
            <br />
            <hr />
            <div>
              <p>Instagram:</p>
              <a target="_blank" href="https://instagram.com/kamin_decor_msk"
                >kamin_decor_msk</a
              >
            </div>
            <p>WhatsUp: +79163967793</p>
            <hr />
          </div>

          <div id="contact">
            <div class="sectionheader"><h3>Напишите Нам</h3></div>
            <article>
              <label for="checkcontact" class="contactbutton"
                ><div class="mail"></div></label
              ><input id="checkcontact" type="checkbox" />

              <form
                class="contactform"
                id="contact-form"
                action="https://formspree.io/f/xjvpzoep"
                method="POST"
              >
                <div class="status"><p></p></div>
                <h6 class="input_wrapper">
                  <input
                    class="name"
                    type="text"
                    name="name"
                    id="contact_nom"
                  />
                  <label for="contact_nom name">Имя</label>
                </h6>
                <h6 class="input_wrapper">
                  <input
                    class="email"
                    type="text"
                    name="_replyto"
                    id="contact_email"
                  />
                  <label for="contact_email email">Почта</label>
                </h6>
                <h6 class="input_wrapper">
                  <input
                    class="subject"
                    type="text"
                    name="contact_sujet"
                    id="contact_sujet"
                  />
                  <label for="contact_sujet subject">Тема</label>
                </h6>
                <p class="textarea_wrapper">
                  <textarea
                    class="message"
                    name="message"
                    id="contact_message"
                  ></textarea>
                </p>
                <p class="submit_wrapper">
                  <input class="submit" type="submit" value="Отправить" />
                </p>
              </form>
            </article>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
